# Import required modules

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
import time
import os
today = pd.to_datetime("today").strftime("%d_%b_%y")

# Import UserAgent

In [2]:
options = webdriver.ChromeOptions()
options.add_argument("--disable-blink-features=AutomationControlled")
options.add_argument("--disable-site-isolation-trials")
options.add_argument("start-maximized")

#options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64)"+"AppleWebKit/537.36 (KHTML, like Gecko)"+"Chrome/87.0.4280.141 Safari/537.36")
options.add_argument(f'user-agent=Chrome/103.0.0.0')
#options.add_argument('--headless')

In [3]:
indeed_info=[]


driver = webdriver.Chrome('D:\\chromedriver.exe', options=options)
for i in range(0,700,10):
    print("Running page no_{}".format(i/10))
    url='https://uk.indeed.com/jobs?q=&l=United+Kingdom&fromage=3&start={}'.format(i)
    driver.get(url)
    try:
        time.sleep(5)
        all_data=driver.find_elements(By.CSS_SELECTOR, 'div.job_seen_beacon')
        lst=[]
        for item in all_data:
            #item.click()
            title = item.find_element(By.CSS_SELECTOR, 'h2>a>span').text
            #print(title)
            company = item.find_element(By.CSS_SELECTOR, 'span.companyName').text
            #print(company)
            location = item.find_element(By.CSS_SELECTOR, 'div.companyLocation').text
            #print(location)
            date = item.find_element(By.CSS_SELECTOR, 'span.date').text.replace('Posted','').strip()
            #print(date)
            
                    
            #print('________')
            
            
            temp = {
                'Job_title': title,
                'Company' : company,
                'Location': location,
                #'Details':details,
                'Date': date
            }

            indeed_info.append(temp)
            
                
    
        
    except:
        pass

Running page no_0.0
Running page no_1.0
Running page no_2.0
Running page no_3.0
Running page no_4.0
Running page no_5.0
Running page no_6.0
Running page no_7.0
Running page no_8.0
Running page no_9.0
Running page no_10.0
Running page no_11.0
Running page no_12.0
Running page no_13.0
Running page no_14.0
Running page no_15.0
Running page no_16.0
Running page no_17.0
Running page no_18.0
Running page no_19.0
Running page no_20.0
Running page no_21.0
Running page no_22.0
Running page no_23.0
Running page no_24.0
Running page no_25.0
Running page no_26.0
Running page no_27.0
Running page no_28.0
Running page no_29.0
Running page no_30.0
Running page no_31.0
Running page no_32.0
Running page no_33.0
Running page no_34.0
Running page no_35.0
Running page no_36.0
Running page no_37.0
Running page no_38.0
Running page no_39.0
Running page no_40.0
Running page no_41.0
Running page no_42.0
Running page no_43.0
Running page no_44.0
Running page no_45.0
Running page no_46.0
Running page no_47.0
Running page no_48.0
Running page no_49.0
Running page no_50.0
Running page no_51.0
Running page no_52.0
Running page no_53.0
Running page no_54.0
Running page no_55.0
Running page no_56.0
Running page no_57.0
Running page no_58.0
Running page no_59.0
Running page no_60.0
Running page no_61.0
Running page no_62.0
Running page no_63.0
Running page no_64.0
Running page no_65.0
Running page no_66.0
Running page no_67.0
Running page no_68.0
Running page no_69.0

In [4]:
df=pd.DataFrame(indeed_info)
df=df.drop_duplicates()
df
# df.to_csv(f"indeed_jobs_details_{today}.csv",index=False)

,Job_title,Company,Location,Date
0,Customer Experience Officer,East Sussex County Council,Eastbourne,1 day ago
1,Supermarket Assistant (Jersey),Waitrose,Saint Saviour\n+2 locations,2 days ago
2,Accounts Assistant,BMW Group Retail,Chiswick,Today
3,Personal Assistant,Barclays,Hybrid remote in London E14,Today
4,Personal Assistant,Toc H,Remote in West Sussex,Today
...,...,...,...,...
944,Executive Assistant,Withersworldwide,London,2 days ago
946,Sales Assistant,Age UK,Shefford,2 days ago
948,Customer Service Advisor,Hastings Direct,Hybrid remote in Leicester,1 day ago
949,Production Operator,Element Solutions Inc,Wantage OX12,1 day ago
950,Control Room Operator,Egis,South Mimms,1 day ago

In [5]:
path=r"C:\Users\Staff Asia - PC\Desktop\Reed Job, Indeed Job\Indeed Job Details"
output_file = os.path.join(path,f"indeed_jobs_details_{today}.csv")
df.to_csv(output_file, index=False)