# Required modules and tools insertion

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
import time
import os
today = pd.to_datetime("today").strftime("%d_%b_%y")

In [2]:
options = webdriver.ChromeOptions()
options.add_argument("--disable-blink-features=AutomationControlled")
options.add_argument("--disable-site-isolation-trials")
options.add_argument("start-maximized")

#options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64)"+"AppleWebKit/537.36 (KHTML, like Gecko)"+"Chrome/87.0.4280.141 Safari/537.36")
options.add_argument(f'user-agent=Chrome/103.0.0.0')
#options.add_argument('--headless')

# Main code portion

In [7]:
indeed_info=[]


driver = webdriver.Chrome('D:\\chromedriver.exe', options=options)
for i in range(0,700,10):
    print("Running page no_{}".format(i/10))
    url='https://uk.indeed.com/jobs?q=&l=United+Kingdom&fromage=3&start={}'.format(i)
    driver.get(url)
    try:
        time.sleep(5)
        all_data=driver.find_elements(By.CSS_SELECTOR, 'div.job_seen_beacon')
        lst=[]
        for item in all_data:
            #item.click()
            title = item.find_element(By.CSS_SELECTOR, 'h2>a>span').text
            #print(title)
            company = item.find_element(By.CSS_SELECTOR, 'span.companyName').text
            #print(company)
            location = item.find_element(By.CSS_SELECTOR, 'div.companyLocation').text
            #print(location)
            date = item.find_element(By.CSS_SELECTOR, 'span.date').text.replace('Posted','').strip()
            #print(date)
            temp = {
                'Job_title': title,
                'Company' : company,
                'Location': location,
                'Date': date
            }

            indeed_info.append(temp)
              
    except:
        pass

# DataFrame generation

In [4]:
df=pd.DataFrame(indeed_info)
df=df.drop_duplicates()
df

,Job_title,Company,Location,Date
0,Warehouse staff,Legend Footwear,Greenford,Employer\nActive 1 day ago
1,Recruitment Assistant,Housing 21,Remote,1 day ago
2,Artists,West Herts College,Hemel Hempstead WD17,1 day ago
3,"Creative Intern – Kings Cross, London",Universal Music Group,London,2 days ago
4,"PRODUCTION OPERATIVE - CARLISLE, UK",Pirelli,Carlisle,1 day ago
...,...,...,...,...
83,Cleaner,The Diocese of Westminster,Victoria,1 day ago
84,Actor Role of a Standardised Patient (XN02),Leeds Teaching Hospitals NHS Trust,Leeds,1 day ago
85,Production operative – Bakery,Border Biscuits,Lanark,Today
88,Production Coordinator - Sky Creative,Sky,Hybrid remote in Osterley,2 days ago
89,Customer Advisor,Boots,Birmingham\n+25 locations,Today

# CSV generation

In [6]:
df.to_csv(f'Indeed Job Details {today}.csv',index=False)